:root {
    --textColor: rgb(223, 251, 251);
    --linkColor: #61dafb;
    --buttonColor: #0074a6;
    --primaryBackground: #23272f;
    --secondaryBackground: #03567a;
    --interactiveBackground: rgb(74, 76, 80); /* just an option for styling, matchies postEntry background */
    --interactiveBackgroundTwo: rgb(55, 65, 86);
}

.App {
    background-color: var(--primaryBackground);
    color: var(--textColor);
    width: 100vw;
}

.App-header {
    /* min-height: 100vh; */
    display: inline-block;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0px;
    justify-content: center;
    font-size: calc(vmin);
    width: 100vw;
    background-color: var(--secondaryBackground);
}

.App-indiv-header {
    text-align: left;
    /* background-color: var(--secondaryBackground); */
    padding: 5px 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.App-link {
    color: var(--linkColor);
}

button {
    background-color: var(--interactiveBackgroundTwo);
    margin-left: 20px;
    /* border-radius: 20%; */
    color: var(--textColor);
}

button:hover {
    background-color: #149eca;
}

textarea {
    background-color: var(--interactiveBackgroundTwo);
    color: var(--textColor);
}

select {
    background-color: var(--interactiveBackgroundTwo);
    color: var(--textColor);
}

{/* rgba(52, 58, 70, 0.8) for background of posts*/}