.App {
  background-color: #9e9e9e;
}

.App-header {
  min-height: 100vh;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 20px 20px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-indiv-header {
  text-align: left;
  background-color: darkslategray;
  padding: 5px 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

.App-link {
  color: #61dafb;
}

button {
  background-color: darkslategray;
  padding: 0 10px;
  margin-left: 10px;
  margin-right: 10px;
}

button:hover {
  background-color: rgb(0, 80, 0);
}
